# Assignment 3 6/19/24

## Excercise 1
- Using the imdb top 1000 movies dataset find the following 
    - Get rid of useless columns 
    - Oldest movie 
    - Newest movie 
    - Top 10 movies by IMDB rating  
    - Top movie for each genre 
    - Director with the most movies 
    - Star with the most movies  
    - Highest grossing movie for each genre 
    - Lowest grossing movie for each director 
    - Save the dataframe as a parquet file 
    - Aggregate the gross revenue for all 1000 movies.

In [355]:
import pandas as pd
file_path = "../Data/imdb_top_1000.csv"
df = pd.read_csv(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [356]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [357]:
# Get rid of useless columns
# Runtime, Poster_Link, Certificate, Meta_Score

def readincsv():    # made it a function for ease of use for the excersises
    try:
        # Define the file path
        file_path = "../Data/imdb_top_1000.csv"
        
        # Load the dataset
        df = pd.read_csv(file_path)
        
        # Drop the specified columns
        df.drop(columns=['Poster_Link', 'Runtime', 'Certificate', 'Meta_score'], inplace=True)
        
        return df
    except FileNotFoundError:
        print(f"Error: The file {file_path} was not found.")
        return None
    except Exception as e:
        print(f"An error occurred: {e}")
        return None

df = readincsv()

df.head()

,Series_Title,Released_Year,Genre,IMDB_Rating,Overview,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,The Godfather: Part II,1974,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,12 Angry Men,1957,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [358]:
# Oldest movie

# Converting Released_Year from type object to type float
df = readincsv()

df['Released_Year'] = pd.to_numeric(df['Released_Year'], errors = 'coerce')

# dropping any rows with NAN values
df = df.dropna(subset=['Released_Year'])

# converting released year from float to int
df['Released_Year'] = df['Released_Year'].astype(int)

# sorting for the oldest movie 
oldest_movie = df[df['Released_Year']==df['Released_Year'].min()]

# printing it
print("oldest_movie: ")
print(oldest_movie[['Series_Title', 'Released_Year']])

oldest_movie:
                     Series_Title  Released_Year
321  Das Cabinet des Dr. Caligari           1920

In [359]:
# Newest movie

# sorting for the oldest movie 
newest_movie = df[df['Released_Year']==df['Released_Year'].max()]

# printing it
print("newest_movie: ")
print(newest_movie[['Series_Title', 'Released_Year']])

newest_movie:
                   Series_Title  Released_Year
18                     Hamilton           2020
20              Soorarai Pottru           2020
205                        Soul           2020
464                 Dil Bechara           2020
612  The Trial of the Chicago 7           2020
613                        Druk           2020

In [360]:
# Top 10 movies by IMDB rating
df = readincsv()

df_sorted = df.sort_values(by='IMDB_Rating', ascending=False)

top_10_movies = df_sorted.head(10)

print("Top 10 Movies by IMDB Rating: ")
print(top_10_movies[['Series_Title', 'IMDB_Rating']])

Top 10 Movies by IMDB Rating:
                                     Series_Title  IMDB_Rating
0                        The Shawshank Redemption          9.3
1                                   The Godfather          9.2
4                                    12 Angry Men          9.0
2                                 The Dark Knight          9.0
3                          The Godfather: Part II          9.0
5   The Lord of the Rings: The Return of the King          8.9
7                                Schindler's List          8.9
6                                    Pulp Fiction          8.9
8                                       Inception          8.8
12                Il buono, il brutto, il cattivo          8.8

In [373]:
# Top movie for each genre
df = readincsv()

# Ensure 'IMDB_Rating' is numeric, handling non-numeric values
df['IMDB_Rating'] = pd.to_numeric(df['IMDB_Rating'], errors='coerce')

# Split genres into separate rows
df['Genre'] = df['Genre'].str.split(', ')
df_exploded = df.explode('Genre')

# Remove duplicate genres
df_exploded = df_exploded.sort_values('IMDB_Rating', ascending=False).drop_duplicates('Genre')

# Display the top movie for each genre
print("Top Movie for Each Genre:")
print(df_exploded[['Genre', 'Series_Title', 'IMDB_Rating']])

Top Movie for Each Genre:
         Genre                                    Series_Title  IMDB_Rating
0        Drama                        The Shawshank Redemption          9.3
1        Crime                                   The Godfather          9.2
2       Action                                 The Dark Knight          9.0
7      History                                Schindler's List          8.9
7    Biography                                Schindler's List          8.9
5    Adventure   The Lord of the Rings: The Return of the King          8.9
11     Romance                                    Forrest Gump          8.8
12     Western                 Il buono, il brutto, il cattivo          8.8
8       Sci-Fi                                       Inception          8.8
16     Fantasy  Star Wars: Episode V - The Empire Strikes Back          8.7
23   Animation                   Sen to Chihiro no kamikakushi          8.6
26      Comedy                                 La vita è bella          8.6
27     Mystery                                           Se7en          8.6
19    Thriller                                    Gisaengchung          8.6
32      Family                           It's a Wonderful Life          8.6
24         War                             Saving Private Ryan          8.6
34       Music                                        Whiplash          8.5
49      Horror                                          Psycho          8.5
82   Film-Noir                                    Sunset Blvd.          8.4
76     Musical                                           Anand          8.4
100      Sport                               Bacheha-Ye aseman          8.3

In [362]:
# Director with the most movies

df = readincsv()

# ensuring the director is of type string
df['Director'] = df['Director'].astype(str)

# counting number of movies for each director
director_counts = df['Director'].value_counts() # .value_counts() only counts unique instances, in this case unique director

# findind director with most movies
top_director = director_counts.idxmax() # idkmax() returns the index (in this case directors name) with the highest value (value being movies count)
top_director_count = director_counts.max()  # returns the maximum value (in this case it is the highest movie count)

print(f"Director with the most movies: {top_director}")
print(f"Number of movies: {top_director_count}")

Director with the most movies: Alfred Hitchcock
Number of movies: 14

In [376]:
# Star with the most movies 

df = readincsv()

# Combine all star columns into a single column
star_columns = ['Star1', 'Star2', 'Star3', 'Star4']
df_stars = df[star_columns].melt(value_name='Star').drop('variable', axis=1)

# Drop NaN values from the combined star column
df_stars = df_stars.dropna().reset_index(drop=True)

# Count the number of movies for each star
star_counts = df_stars['Star'].value_counts()

# Identify the star with the most movies
top_star = star_counts.idxmax()
top_star_count = star_counts.max()

# Display the star with the most movies
print(f"Star with the most movies: {top_star}")
print(f"Number of movies: {top_star_count}")

Star with the most movies: Robert De Niro
Number of movies: 17

In [364]:
# Highest grossing movie for each genre 

df = readincsv()

# Ensure 'Gross' is numeric, handling non-numeric values
df['Gross'] = pd.to_numeric(df['Gross'].str.replace('[^\d.]', '', regex=True), errors='coerce')

# then drop any brocken cells aka NAN 
df = df.dropna(subset=['Gross'])

# Split Genres into seperate rows
df['Genre'] = df['Genre'].str.split(', ')
df_exploded = df.explode('Genre')

# group by genre and get highest grossing movie per genre
idx = df_exploded.groupby('Genre')['Gross'].idxmax()
highest_grossing_per_genre = df_exploded.loc[idx]

# drop the duplicate genres
highest_grossing_per_genre = highest_grossing_per_genre.drop_duplicates(subset=['Genre'])

# Display the highest-grossing movie for each genre
print("Highest Grossing Movie for Each Genre:")
print(highest_grossing_per_genre[['Genre', 'Series_Title', 'Gross']])

Highest Grossing Movie for Each Genre:
         Genre                                Series_Title        Gross
477     Action  Star Wars: Episode VII - The Force Awakens  936662225.0
477  Adventure  Star Wars: Episode VII - The Force Awakens  936662225.0
477     Sci-Fi  Star Wars: Episode VII - The Force Awakens  936662225.0
891  Animation                               Incredibles 2  608581744.0
915  Biography                              The Blind Side  255959475.0
915      Drama                              The Blind Side  255959475.0
915      Sport                              The Blind Side  255959475.0
596     Comedy                                 Toy Story 4  434038008.0
2        Crime                             The Dark Knight  534858444.0
688     Family                  E.T. the Extra-Terrestrial  435110554.0
623    Fantasy                                      Avatar  760507625.0
559  Film-Noir                                   Notorious   10464000.0
559    Romance                                   Notorious   10464000.0
314    History                          Gone with the Wind  198676459.0
419     Horror                                The Exorcist  232906145.0
342      Music                           Bohemian Rhapsody  216428042.0
422    Musical                         Fiddler on the Roof   80500000.0
248    Mystery                             The Sixth Sense  293506292.0
248   Thriller                             The Sixth Sense  293506292.0
24         War                         Saving Private Ryan  216540909.0
402    Western                          Dances with Wolves  184208848.0

In [365]:
# Lowest grossing movie for each director 

df = readincsv()

# Ensure 'Gross' is numeric, handling non-numeric values
df['Gross'] = pd.to_numeric(df['Gross'].str.replace('[^\d.]', '', regex=True), errors='coerce')

# then drop any brocken cells aka NAN 
df = df.dropna(subset=['Gross'])

# group by genre and get highest grossing movie per genre
idx = df_exploded.groupby('Director')['Gross'].idxmin()
lowest_gross_per_dir = df_exploded.loc[idx]

# drop the duplicate genres
lowest_gross_per_dir = lowest_gross_per_dir.drop_duplicates(subset=['Director'])

# Display the highest-grossing movie for each genre
print("Lowest Grossing Movie for Each Director:")
print(lowest_gross_per_dir[['Director', 'Series_Title', 'Gross']])

Lowest Grossing Movie for Each Director:
                Director                 Series_Title        Gross
65            Aamir Khan             Taare Zameen Par    1223869.0
734  Abdellatif Kechiche               La vie d'Adèle    2199675.0
735      Abhishek Kapoor                  Kai po che!    1122527.0
600           Adam McKay                The Big Short   70259870.0
129          Aditya Dhar     Uri: The Surgical Strike    4186168.0
..                   ...                          ...          ...
796    Yoshiaki Kawajiri  Vampire Hunter D: Bloodlust     151086.0
227        Yôjirô Takita                    Okuribito    1498210.0
930          Zack Snyder                     Watchmen  107509799.0
138       Zaza Urushadze                  Mandariinid     144501.0
221          Zoya Akhtar     Zindagi Na Milegi Dobara    3108485.0

[472 rows x 3 columns]

In [366]:
# Save the dataframe as a parquet file 

# using the pyarrow install which has a to_parquet() command to save to that file type

file_path_parquet = 'imdb_top_1000.parquet'
df.to_parquet(file_path_parquet)

In [377]:
# Aggregate the gross revenue for all 1000 movies.

df = readincsv()

# Ensure 'Gross' is numeric, handling non-numeric values
df['Gross'] = pd.to_numeric(df['Gross'].str.replace('[^\d.]', '', regex=True), errors='coerce')

# Drop rows where 'Gross' could not be converted
df = df.dropna(subset=['Gross'])

# Aggregate the gross revenue for all 1000 movies
total_gross_revenue = df['Gross'].sum()

# Display the total gross revenue
print(f"Total gross revenue for all 1000 movies: ${total_gross_revenue:,.2f}")

Total gross revenue for all 1000 movies: $56,536,877,976.00

# Challenge - DICOM Image Processor

In [388]:
# Load a DICOM image into Python 
# Convert them into a gif 

# example from online as i coudnt figure it out myself in the end - not my own work just to help learn/study
# -----------------------------------------------------------------------------------------------------

import pydicom
from PIL import Image
import numpy as np
import os

# Define the folder path containing DICOM files and the output path for the GIF
dicom_folder_path = '../Data/ID00419637202311204720264'
output_gif_path = 'output_image.gif'

# Initialize a list to hold the frames
frames = []

# Process each DICOM file in the folder
for filename in sorted(os.listdir(dicom_folder_path), key=lambda x: int(os.path.splitext(x)[0])):
    if filename.endswith(".dcm"):
        file_path = os.path.join(dicom_folder_path, filename)
        
        # Load the DICOM image
        dicom = pydicom.dcmread(file_path)
        image_array = dicom.pixel_array

        # Normalize the image array to the range 0-255
        image_array = (255.0 / image_array.max() * (image_array - image_array.min())).astype(np.uint8)

        # Convert the numpy array to a PIL image
        image = Image.fromarray(image_array)
        
        # Add the image to the list of frames
        frames.append(image)

# Save the frames as an animated GIF
if frames:
    frames[0].save(output_gif_path, save_all=True, append_images=frames[1:], loop=0, duration=500)
    print(f"GIF saved to {output_gif_path}")
else:
    print("No DICOM files found in the folder.")

# -----------------------------------------------------------------------------------------------------

GIF saved to output_image.gif